h2.liveshow{
    font-family: "DrukTextWide" !important;
    text-transform: capitalize;
    text-align: center;
    color: white;
}
h2.livedate{
    font-family: "Druk Text Wide Bold Italic" !important;
    text-transform: capitalize;
    text-align: center;
    color: #e5f31a !important;
}